@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --sidebar-accent: #f3f4f6; /* abu muda */
  --sidebar-accent-foreground: #111827; /* abu gelap */
  --sidebar-primary: #3b82f6; /* biru */
  --sidebar-ring: #2563eb; /* biru lebih gelap */
  --sidebar-foreground: #374151; /* abu teks */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
